recursive-include drink/static *.css *.js *.png *.gif *.html
recursive-include drink/templates *.html
include drink/settings.ini
include database/blobs/keep_me.txt
include database/zodb.conf
include bottle.py
include runserver.py
include README.rst
