<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=yes, width=device-width" />
        <!-- Cascading Style Sheets -->
        <link href="/static/page.css" rel="stylesheet" type="text/css" />
        <link href="/static/pygments.css" rel="stylesheet" type="text/css" />
        <link href="/static/smoothness/jquery-ui.custom.css" rel="stylesheet" type="text/css" />
        {% if css %}
            {% for url in css %}
            <link href="{{url}}" rel="stylesheet" type="text/css" />
            {% endfor %}
        {% endif %}
        <!-- Javascript -->
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/jquery-ui-1.8.custom.min.js"></script>
        <script type="text/javascript" src="/static/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/static/jquery.dataSelector.js"></script>
        <script type="text/javascript" src="/static/fileuploader.js"></script>
        <script type="text/javascript" src="/static/main.js"></script>
        {% if js %}
            {% for url in js %}
                {% if url.startswith('http://') or url[0] == '/' %}
                <script type="text/javascript" src="{{url}}"></script>
                {% else %}
                <script type="text/javascript">{{url}}</script>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block head %}
        <title>Drink!</title>
        {% endblock %}

    </head>
    <body>

    {% if not embed %}

        {% if not no_admin and authenticated and obj.id != '.' %}
        <fieldset class="toggler" id="commands">
            <legend onclick="$('#commands .togglable').slideToggle('slow');">{{authenticated.id}}</legend>
            <div class="togglable" >
            <div id="user_actions" >
            <a title="Account settings" href="/users/{{authenticated.id|e}}/edit"><img class="icon" src="/static/actions/personal.png" alt="your account icon" /></a>
            <a title="Search" href="/search/"><img  alt="find icon" class="icon" src="/static/actions/find.png" /></a>
            <form class="autovalidate inline" name="search_form" method="post" action="/search/query">
                <input type="hidden" name="qtype" value="fast" />
                <input type="text" class="required" name="pattern" />
            </form>
            <!-- <a title="Search" href="/search/"><img  alt="find icon" class="icon" src="/static/actions/find.png" /></a> -->
            <a title="log out" href="/logout"><img  alt="exit icon" class="icon" src="/static/actions/exit.png" /></a>
            </div> <!-- /user actions -->
            <div id="page_actions">
            </div> <!-- page actions -->
            </div> <!-- end of toggleable -->
        </fieldset>
        {% if obj.id != '.' %}
            {% if req.url.endswith('/') %}
            <a title="Back to parent element" href="../"><img class="icon" src="/static/actions/undo.png" /></a>
            {% else %}
            <a title="Back to element" href="{{obj.path|e}}"><img class="icon" src="/static/actions/undo.png" /></a>
            {% endif %}
        {% endif %}
        {% endif %}

    {% endif %}

    <div id="main_body">
    {% block body %}
        {% if html %}
            {{ html|safe }}
        {% else %}
            Please, add some body block or html content...
        {% endif %}
    {% endblock %}
    </div>

    {% if 'WebFile' in classes and not embed %}
    <div id="file-uploader">
        <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
            <!-- or put a simple form for upload here -->
        </noscript>
    </div>
    {% endif %}

    </body>
</html>
